*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'M PLUS 1 Code', sans-serif;
    min-height: 100vh;
}

.contenedor{
    position:relative;
    height: 768px;
    display: flex;
    align-items: center;
}
.wave1{
    position: absolute;
    top:0;
    left:0;
    width:10%;
}
.contenedor-textos{
    flex-basis: 50%;
    position: absolute;
    width: 760px;
    height: 120px;
    left: 35px;
    top: 447px;

    font-family: 'M PLUS 1 Code';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 79px; 
}
.cta{
    margin-left: 250px;
    width: 160px;
    display: inline-block;
    text-align: center;
    background: #d9d9d9;
    border-radius: 8px;
    text-decoration: none;
}
