@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, input{
    font-family: 'M PLUS 1 Code', sans-serif;
}

/* DISEÑO PÁGINA PRINCIPAL*/
.cont{
    width: 100%;
    min-height: 700px;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 90px;
    cursor: pointer;
    margin: 30px 0;
}
.menu{
    width: 25px;
    cursor: pointer;
    display: none;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color:#20236D;
    font-size: 14px;
}
nav ul li a:hover{
    color:#FA4848;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}
.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}
.col-1 h2{
    font-size: 54px;
    color: #FA4848;
}
.col-1 h3{
    font-size: 40px;
    font-weight: 500;
    margin: 20px 0 10px;
}
.col-1 p{
    font-size: 20px;
    color:#5639A6;
    font-weight: 500;
    margin: 30px 0;
}
button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #20236D, #FA4848);
    border-radius: 20px;
    cursor: pointer;
}
button a{
    text-decoration: none;
    color: white;
}
.col-1::after{
    content: '';
    width: 10px;
    height: 57%;
    background: linear-gradient(#20236D,#FA4848);
    position: absolute;
    left: -40px;
    top: 8px;
}
.col-2{
    position: relative;
    flex-basis: 60%;
    align-items: center;
}
.col-2 .person{
    width: 80%;
}
.color-box{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#20236D,#FA4848);
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 80%;
    z-index: -1;
    transform: translateX(150px);
}
.container-n{
    background: #dad2f0;
}
.nosotros{
    padding-top: 5vh;
    width: 80%;
    margin:auto;
    padding-bottom: 5vh;
}
.nosotros>h1{
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 20px;
    color: #5639A6;
    text-align: center;
}
.nosotros>h2{
    font-size: 35px;
    font-weight: 900;
    color: #20236D;
    margin-bottom: 30px;
    text-align: center;
}
.nosotros>p{
    color:#333;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}
.hacer{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    align-items: center;
    padding-bottom: 5vh;
}
.bloque__imagen {
    width: 30%;
    padding: auto;
}
.item{
    text-align: center;
}

.item>h1{
    font-size: 17px;
    color: #20236D;
    text-align: center;
}
.item>p{
    color:#333;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
@media (min-width: 769px) {
    .hacer {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .item>h1{
    font-size: 25px;
    color: #20236D;
    text-align: center;
    }

    .item>p{
    color:#333;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    }
}



footer{
    background-color: white;
    height: auto;
    width: 100%;
    padding-top: 40px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.social{
    list-style:none;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.social li{
    margin: 0 10px;
}
.social a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.social a:hover i{
    color:#FA4848;
}
.footer-bottom{
    background:#FFE087;
    width:100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 16px;
    word-spacing: 2px;
    text-transform: capitalize;
}
@media only screen and (max-width:700px){
    nav ul{
        width: 100%;
        background: #20236D;
        position: absolute;
        top: 110px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: white;
    }
    .menu{
        display: block;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }
    .row{
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .col-2{
        flex-basis: 100%;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .col-2 .person{
        width: 77%;
    }
    .color-box{
        transform: translateX(75px);
    }
    .col-1{
        flex-basis: 100%;
    }
    .col-1 h2{
        font-size: 35px;
    }
    .col-1 h3{
        font-size: 25px;
    }
    .col-1-item{
        flex-basis: 100%;
    }
    .col-2-item{
        flex-basis: 100%;
        margin-top: 10px;
        margin-bottom: 50px;
    }
}

/*DISEÑO DEL REGISTRO*/
.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: white;
    overflow: hidden;    
}
.container:before{
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, #5639A6, #20236D);
    top:-10%;
    right: 48%;
    transform: translateY(-50%);
    z-index: 6;
    transition: 1.8s ease-in-out;
}
.forms-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.singin-singup{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s 0.7s ease-in-out;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: 0.2s 0.7s ease-in-out;
}
form.sign-in-form{
    z-index: 2;
}
form.sign-up-form{
    z-index: 1;
    opacity: 0;
}
.title{
    font-size: 2.2rem;
    color: #696969;
    margin-bottom: 10px;
}
/*LOGIN INPUTS*/

.input-field-email{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
}
.input-field-email i{
  text-align: center;
  line-height: 55px;
  color: #808080;
  font-size:1.1rem; 
}
.input-field-email input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 400;
    font-size: 1.1rem;
    color: #333;
}
.input-field-email input::placeholder{
    color: #aaa;
    font-weight: 500;
}
.input-field-password{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
}
.input-field-password i{
  text-align: center;
  line-height: 55px;
  color: #808080;
  font-size:1.1rem; 
}
.input-field-password input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 400;
    font-size: 1.1rem;
    color: #333;
}
.input-field-password input::placeholder{
    color: #aaa;
    font-weight: 500;
}
/*VALIDATE COLOR*/
.input-incorrect{
    background-color: rgba(255, 1, 1, 0.58);
}

.input-correct{
    background-color: rgba(152, 255, 35, 0.63);
}
.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario-input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario-input-error-activo {
	display: block;
}
.formulario-mensaje {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario-mensaje-activo {
	display: block;
}





.btn{
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #FFE087 ;
    text-transform: uppercase;
    font-weight: 500;
    margin: 10px 0;
    transition: .5s;
}
.btn:hover{
    background-color:#FA4848;
    color: white;
}
.panels-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.panel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 7;
}
.left-panel{
    pointer-events: all;
   padding: 3rem 17% 2rem 12%;
}
.right-panel{
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}
.panel .content{
    color: #fff;
    transition: .9s .6s ease-in-out;
}
.panel h3{
    font-weight: 500;
    line-height: 1;
    font-size: 1.5rem;
}
.panel p{
    font-size: 0.95rem;
    padding: 0.7rem 0;
}
.btn.transparent{
    margin: 0;
    background: none;
    border: 2px solid #FA4848;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
}
.image{
  width:100%; 
  transition: 1.1s .4s ease-in-out; 
}
.right-panel .content, .right-panel .image{
    transform: translateX(800px);
}
/* ANIMACIÓN DEL REGISTRO */
.container.sign-up-mode:before{
    transform: translate(100%, -50%);
    right: 52%;
}
.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content{
    transform: translateX(-800px);
}
.container.sign-up-mode .right-panel .content,
.container.sign-up-mode .right-panel .image{
    transform: translateX(0px);
}
.container.sign-up-mode .left-panel{
    pointer-events: none;
}
.container.sign-up-mode .right-panel{
    pointer-events: all;
}
.container.sign-up-mode .singin-singup{
    left: 25%;
}
.container.sign-up-mode form.sign-in-form{
    z-index: 1;
    opacity: 0;
}
.container.sign-up-mode form.sign-up-form{
    z-index: 2;
    opacity: 1;
}

@keyframes slide {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -120px 60px;
    }
  }
  
  /*MENSAJES DE ERROR O SUCCESS*/
  #InfoBanner{

    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
    text-align: center;
  }
  
  .error {
    display: inline-block;
    width: 250px;
    padding: 0.3em;
    padding-left: 0.3em;
    margin-left: 0.8em;
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 1;
    color: #fff;
    font-size: 15px;
    background-color:#ef5350;
    border-radius: 55px;
  }


/* LOADER*/
.contenedor-loader.visible{
    display: block;
}
.contenedor-loader{
    display:none;
    position: absolute;
    top: 20%;
    left: 25%;
    transform: translate(-50%, -50%);
    margin-top: -70px;
}
.ids-roller{
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.ids-roller div{
    animation: ids-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.ids-roller div:after{
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #20236D;
    margin: -4px 0 0 -4px;
}
.ids-roller div:nth-child(1){
    animation-delay: -0.036s;
}
.ids-roller div:nth-child(1):after{
    top: 63px;
    left: 63px;
}
.ids-roller div:nth-child(2){
    animation-delay: -0.072s;
}
.ids-roller div:nth-child(2):after{
    top: 68px;
    left: 56px;
}
.ids-roller div:nth-child(3){
    animation-delay: -0.108s;
}
.ids-roller div:nth-child(3):after{
    top: 71px;
    left: 48px;
}
.ids-roller div:nth-child(4){
    animation-delay: -0.144s;
}
.ids-roller div:nth-child(4):after{
    top: 72px;
    left: 40px;
}
.ids-roller div:nth-child(5){
    animation-delay: -0.18s;
}
.ids-roller div:nth-child(5):after{
    top: 71px;
    left: 32px;
}
.ids-roller div:nth-child(6){
    animation-delay: -0.216s;
}
.ids-roller div:nth-child(6):after{
    top: 68px;
    left: 24px;
}
.ids-roller div:nth-child(7){
    animation-delay: -0.252s;
}
.ids-roller div:nth-child(7):after{
    top: 63px;
    left: 17px;
}
.ids-roller div:nth-child(8){
    animation-delay: -0.288s;
}
.ids-roller div:nth-child(8):after{
    top: 56px;
    left: 12px;
}
@keyframes ids-roller {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

@media (max-width: 870px){
    .container{
        min-height: 800px;
        height: 100vh;
    }
    .container:before{
        width: 1500px;
        height: 1500px;
        left: 30%;
        bottom: 68%;
        transform: translateX(-50%);
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    }
    .singin-singup{
        width: 100%;
        left: 50%;
        top: 95%;
        transform: translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
    }
    .panels-container{
        z-index: 10;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }
    .panel{
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
        padding: 2.5rem 8%;
    }
    .panel .content{
        padding-right: 15%;
        transition: 0.9s 0.8s ease-in-out;
    }
    .panel h3{
        font-size: 1.2rem;
    }
    .panel p{
        font-size: 0.7rem;
        padding: 0.5rem 0;
    }
    .btn.transparent{
        width: 110px;
        height: 35px;
        font-size: 0.7rem;
    }
    .image{
        width: 200px;
        transition: 0.9s 0.6s ease-in-out;
    }
    .left-panel{
        grid-row: 1 / 2;
    }
    .right-panel{
        grid-row: 3 / 4;
    }
    .right-panel .content, .right-panel .image{
        transform: translateY(300px);
    }
    .container.sign-up-mode:before{
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
    }
    .container.sign-up-mode .left-panel .image,
    .container.sign-up-mode .left-panel .content{
        transform: translateY(-300px);
    }
    .container.sign-up-mode .singin-singup{
        top: 5%;
        transform: translate(-50%, 0);
        left: 50%;
    }
}
@media (max-width: 570px){
    form{
        padding: 0 1.5rem;
    }
    .image{
        display: none;
    }
    .panel .content{
        padding: 0,5rem 1rem;
    }
    .container:before{
        bottom: 72%;
        left: 50%;
    }
    .container.sign-up-mode:before{
        bottom: 28%;
        left: 50%;
    }
}