@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;700&display=swap');
/* 
  Reset CSS 
*/
body {
    background-color: #2F2F2F;
  }
:root {
  --negro: #393939;
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}
input[type="search" i] {
  display: none;
}
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}
span {
  font-size: 15px;  
  color: #868AF1;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}
form, textarea, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  display: block;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
body {
  font-family: var(--tipo-principal);
}
.logo{
    height: 50px;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 5px;
}
nav:after{
  content: '';
  width: 90%;
  height: 2px;
  background:rgba(138, 138, 138, 0.35);
  display:block;
  margin: auto;
}
nav .a{
  font-style: bold;
  font-weight: 400;
  line-height: 23px;
  color:#9A9A9A;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}
nav .a:hover{
  color:#4D4B4B;
}
nav .home {
    font-family: 'Rajdhani';
    font-weight: 700;
    text-decoration: none;
    color: #FC003C;
    font-size: 30px;
}
nav .home:hover {
    color: #FC003C;
}
.nav__menu a{
  list-style-type: none;
}
.nav__menu .a::after{
  content: '';
  width: 0%;
  height: 2px;
  background:#FA4848;
  display:block;
  margin: auto;
  transition: 0.5s;
}
.nav__menu a:hover::after{
  width: 100%;
}
.ul{
  display: flex;
  margin: 0;
  padding: 0;
}
.config {
  display: none;
}
@media (max-width: 700px) {
  .ul {
    display: none;
  }
  .config {
    display: block;
  }
}
.ul li {
  float: left;
  list-style: none;
  position: relative;
}
ul li a {
  color:#4D4B4B;
  line-height: 2rem;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-align: left; 
}
ul li a:hover {
  color:#4D4B4B;
}

ul li ul {
  display: none;
}

ul li:hover ul {
  display: inline-block;
  position: absolute;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0;
  margin: auto;
}
ul li ul li a {
  padding: 10px 10px;
  line-height: unset;
  margin-left: .5rem;
  white-space: nowrap;
  width: 100%;
}
ul li ul li i {
  margin-right: .5rem;
}

.profilePhoto {
  width: 30px;
  border-radius: 100%;
}
.linea {
  position: fixed;
  width: 85%;
  height: 2px;
  top: 80px;
  margin: auto;
  margin-bottom: 5px;
  background-color: rgba(138, 138, 138, 0.35);
}
.nav__container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: auto;
  padding: 10px;
  justify-content: space-between;
  align-items: center; 
}
.nav__label, .nav__input {
  display: none;
}
.nav__menu {
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
  justify-content: center;
  align-items: center;
}
@media (max-width: 700px) {
  .nav__label {
      display: block;
      cursor: pointer;
  }
  .nav__menu {
      position: fixed;
      top: 80px;
      bottom: 0;
      background-color: #fff;
      width: 100%;
      left: 0;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      clip-path: circle(0 at 90% 0);
      transition: clip-path 1s ease-in-out;
  }
  .nav__input:checked + .nav__menu {
      clip-path: circle(145% at 90% 0);
  }
}
.logout {
  background-color: #c8cdc4;
  color: #62767f;
  padding: 5px;
  border-radius: 10px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  transition: all .5s;
  text-decoration: none;
  display: none;
}
@media (max-width: 700px) {
  .logout{
    display: block;
  }
}

/* MAIN */
main {
    width: 95%;
    margin: 90px auto 0 auto;
}
/* PANELES */
.paneles {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    width: 100%;
    /* height: 30rem; */
}
.panel1 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    border-radius: 30px;
    height: 500px;
}
.panel1 .contenedorh1 {
    width: 40%;
    height: 20px;
    margin: 10px 30px;
    text-align: center;
}
.panel1 h1{
    font-family: 'Roboto';
    font-size: 20px;
}
.panel1 h1::after {
    content: '';
    width: 100%;
    height: 3px;
    background:#FA4848;
    display:block;
    margin: auto;
}
@media (max-width:700px) {
  .panel1 .contenedorh1 {
    width: 50%;
  }
}
/* PANEL 1 */
.row1 {
    display: flex;
    flex-direction: column;
    background: rgb(255,224,135);
    background: linear-gradient(180deg, rgba(255,224,135,0.16988793808539038) 0%, rgba(255,224,135,0.8813725319229254) 100%);
    border-radius: 30px;
}
.detalles {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 90%;
    border-radius: 30px;
    height: 150px;
    margin: auto;
    background: rgb(255,224,135);
    background: linear-gradient(0deg, rgba(255,224,135,0.16988793808539038) 0%, rgba(255,224,135,0.8813725319229254) 100%);
}
.saldo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/vectores.png');  
    background-size: 100%; 
    background-position: center;
    background-repeat: no-repeat;
}
.saldo p {
    margin: 0;
    font-size: 15px;
    font-family: 'Roboto';
    color: #fce3ad;
    font-weight: bold;
}
.extras {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
    margin: 10px;
}
.extras_row1 {
    background: rgb(231,76,60);
    background: linear-gradient(312deg, rgba(231,76,60,0.58) 0%, rgba(239,169,43,0.67) 100%);
    width: 70%;
    height: 95%;
    margin: auto;
    border-radius: 10px;
}
.extras_row1 .contenedorh1 {
    width: 100%;
    height: auto;
    margin: 3px 10px;
    text-align: left;
}
.extras_row1 p{
    font-family: 'Roboto';
    font-size: 12px;
    margin: 0;
}
.extras_row2 {
    background: rgb(231,76,60);
    background: linear-gradient(312deg, rgba(231,76,60,0.58) 0%, rgba(239,169,43,0.67) 100%);
    width: 70%;
    height: 95%;
    margin: auto;
    border-radius: 10px;
}
.extras_row2 .contenedorh1 {
    width: 100%;
    height: auto;
    margin: 3px 10px;
    text-align: left;
}
.extras_row3 {
  background: rgb(255, 166, 93);
  width: 70%;
  height: 30%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
}
.extras_row2 p{
    font-family: 'Roboto';
    font-size: 12px;
    margin: 0;
}

/* FIN PANEL 1 */


.dataTables_filter {
  display: none;
}
.row2 {    
    background: rgb(255,224,135);
    background: linear-gradient(180deg, rgba(255,224,135,0.16988793808539038) 0%, rgba(255,224,135,0.8813725319229254) 100%);
    border-radius: 30px;
}
.head {
    display: grid;
    grid-template-columns: 75% 25%;
    justify-content: center;
    align-items: center;
}
.head .titulo {
    width: 40%;
    height: 20px;
    margin: 10px 30px;
    text-align: center;
}
.head .info {
    text-align: right;
    margin: 10px 20px;
    font-size: 20px;
}
.info button {
    display: inline-block;
    
    color: #dc3545;
}
.pagar {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color:#fa4848;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto';
}
.input_pagar {
    width: 100%;
    height: 50px;
    background-color: #9A9A9A;
    color: #fff;
    font-family: 'Rajdhani';
    font-size: 30px;
    border-radius: 5px;
    text-align: center;
}
.detallesPago {
    text-align: justify;
    margin-top: 10px;
    line-height: 20px;
}

@media (max-width:700px) {
  .head .titulo {
    width: 50%;
  }
  .pagar {
    font-size: 13px;
  }
}
/* FIN PANELES */

/* TRANSACCIONES  */

.panel2 {
    border-radius: 30px;
}

@media (max-width: 700px) {
  .paneles{
    grid-template-columns: 1fr;
  }
}
.panel2 .contenedorh1 {
    width: 20%;
    height: 20px;
    margin: 10px 30px;
    text-align: center;
}
.panel2 h1{
    font-family: 'Roboto';
    font-size: 20px;
}
.panel2 h1::after {
    content: '';
    width: 100%;
    height: 3px;
    background:#FA4848;
    display:block;
    margin: auto;
}
.panel2 table {
    width: 95%;
    margin: 20px auto;
    text-align: center;
    font-family: 'Roboto';
}
.panel2 thead{
    border-bottom: solid 3px #b4b6b3;
    border-collapse: collapse;
}
.panel2 tbody tr {
  
  border-bottom: solid 2px #c8cdc4;
  border-collapse: collapse;
}
.lista_transacciones {
    padding: 10px 0px;
}
.tr{
  padding: 10px 0;
}
.td {
  padding: 7px 0;
}
.recibo {
    display: inline-block;
    padding: 5px 20px;
    border: solid 1px #000;
    border-radius: 10px;
    margin: 10px 0;
}
.reciboResponsive {
  display: none;
  padding: 5px 10px;
  border: solid 1px #000;
  border-radius: 10px;
}
@media (max-width: 700px) {
  .recibo {
    display: none;
  }
  .reciboResponsive {
    display: inline-block;
  }
  .panel2 .contenedorh1 {
    width: 50%;
  }
  .panel2 table {
    width: 100%;
  }
}
/* FIN DE TRANSACCIONES  */

/* FIN MAIN */

/* PRESTAMOS  */
.disabled {
  display: none;
}

.bannerPrestamo {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 90%;
  height: 100%;
  margin: auto;
  column-gap: 1rem;
  align-items: center;
  justify-items: center;
  /* background-color: #000; */
}
.long {
  grid-column: 1/3;
  padding: 1rem;
}
.pText {
  background: linear-gradient(312deg, rgba(231,76,60,0.58) 0%, rgba(239,169,43,0.67) 100%);
  display: grid;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: 'Roboto';
  font-size: 18px;
  text-align: center;
  border-radius: 10px;
  padding: .5rem;
}
/* MODAL SIMULADOR  */

.hero__cta{
  text-decoration: none;
  color: rgb(71, 51, 51);
  padding: 15px 60px;
  border: 1px solid;
  border-radius: 6px;
  display: inline-block;
  font-weight: 500;
  transition: background-color .3s;
}
@keyframes pulse {
  0% {
    transform: scale(.99);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(.99);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.modal1{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s .9s;
  --transform: translateY(-100vh);
  --transition: transform .8s;
}

.modal--show{
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .8s .8s;
}

.modal__container{
  margin: auto;
  width: 80%;
  height: auto;
  max-width: 95%;
  max-height: 95%;
  background-color: #fff;
  border-radius: 6px;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%;
  transform: var(--transform);
  transition:var(--transition);
  overflow: scroll;
}


.modal__close{
  text-decoration: none;
  color: #fff;
  background-color: #F26250;
  padding: 1em 3em;
  border: 1px solid ;
  border-radius: 6px;
  display: inline-block;
  font-weight: 300;
  transition: background-color .3s;
}

.modal__close:hover{
  color: #F26250;
  background-color: #fff;
}
.thT {
  text-align: center;
}
.table tbody td{
  text-align: center;

}
.h2 {
  text-align: center;
}
.row {
  height: 100%;
  padding: 2rem;
}
@media (max-width:700px) {
  .row {
    padding: .5rem;
  }
  .modal__container {
    width: 95%;
    height: 100%;
  }
  .thT {
    font-size: 10px;
  }
}
/* FIN MODAL SIMULADOR  */

/* CONFIGURACION */
.contenedores {
  display: grid;
  grid-template-columns: 20% 80%;

  width: 80%;
  height: auto;
  margin: auto;
  border: solid 1px #d1d7dc; 
}
@media (max-width: 700px) {
  .contenedores {
    grid-template-columns: 100%;
  }
}
.c1{
  border-right: solid 1px #d1d7dc;
}
.contenedor-foto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  row-gap: .7rem;
  margin-top: 1rem;
}
.contenedor-foto h1 {
  font-family: Roboto;
  font-size: 20px;
  text-align: justify;
  font-weight: 400;
}
.editarFoto {
  width: 60%;
  margin-left: 2.5rem;
}
/*SUBIR IMAGEN*/
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;   
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  max-width: 100%;
  font-size: 0.1rem;    
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;    
}

.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.subirFoto {
  border: solid 1px #1c1d1f;
  padding: .3rem 1.3rem;
  margin-left: 2rem;
  transition: all .3s;
}
.subirFoto:hover {
  color: #fff;
  background-color: #1c1d1f;
}

.opciones {  
  border-top: solid 1px #d1d7dc;
  margin-top: 1rem;
}
.opciones ul {
  padding-left: 0px;
}
.opc, .opc_CerrarCuenta{
  color: #000;
  text-decoration: none;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 10px;
  transition: all .2s;
  cursor: pointer;
}
.opc:hover {
  background-color: #6a6f73;
  color: #fff;
}
.check {
  background-color: #6a6f73;
  color: #fff;
}

.opc_CerrarCuenta:hover {
  background-color: #dc3545;
  color: #fff;
}

.c2 {
  display: grid;
  grid-template-rows: 100px auto;
  width: 100%;
  height: auto;
}
.c2-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px #d1d7dc;
}
.opcionTitulo {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 30px;
}
.informacionGeneral {
  width: 70%;
  height: 100%;
  margin: auto;
  padding: 1rem;
}
.informacionGeneral p {
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 700;
}

.editInfo {
  width: 100%;
  padding: .5rem;  
  border: solid 1px #1c1d1f;
  outline: none;
  margin: .5rem 0;
}
.colums {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
}
.rRow {
  width: 100%;
}
.colums1 {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: repeat(2,auto);
}

.actuInfo {
  margin-top: 20px;
  border: solid 1px #1c1d1f;
  background-color: #1c1d1f;
  color: #fff;
  padding: .5rem 1.3rem;
  transition: all .3s;
}
.actuInfo:hover {
  background-color: #fff;
  border: solid 1px #1c1d1f;
  color: #000;
}

@media (max-width: 700px) {
  .contenedores {
    grid-template-columns: 100%;
  }
  .c2-1 {
    border-bottom: solid 0px #1c1d1f;
    border-top: solid 1px #d1d7dc;
  }
  .c1 {
    border-right: solid 0px #d1d7dc;
  }
  .colums {
    column-gap: 10px;
  }
  .contenedores label {
    font-size: 12px;
  }
  .editInfo p{
    font-size: 10px;
  }
  .informacionGeneral {
    width: 95%;
  }
}
