@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');
/* 
  Reset CSS 
*/

:root {
  --negro: #393939;
  --tipo-principal: 'M PLUS 1 Code', Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
p a {
  display: inline;
}
li {
  list-style-type: none;
}
html {
  scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  display: block;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}
body {
 min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.logo{
    height: 50px;
    width: 50px;
}
nav a{
    font-style: bold;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.03em;
    color:#9A9A9A;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
nav a:hover{
    color:#4D4B4B;
    font-weight:bold;
}
.container ul li{
    list-style-type: none;
    display: inline-block;
    left: 180px;
    padding: 8px 12px;
    position: relative;
}
.container ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#FA4848;
    display:block;
    margin: auto;
    transition: 0.5s;
}
.container ul li:hover::after{
    width: 100%;
}
.linea{
    position: absolute;
    width: 1100px;
    height: 0px;
    left: 140px;
    top: 80px;

    border: 1px solid rgba(138, 138, 138, 0.35);
}
.header{
    width:100;
    padding: 2% 8%;
    background-color: #ffffff;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    color:#9A9A9A; 
}
.header .h1{
    font-family: 'Radio Canada', sans-serif;
    text-align: left;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    /* identical to box height */
    letter-spacing: 0.03em;
    /* background-color: aqua; */
}
.title-logo{
  color: #FC003C;
  text-decoration: none;
}
.title-logo:hover{
  color: #FC003C;
}
.header .button{
    /* background-color: crimson; */
    display: none;
}
.header .svg{
    width:2em;
    height:2em;
}
.header .ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}
.header .li{
    margin: 0 .5em;
}
.welcome{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: #4D4B4B;
}

/* MAIN*/ 
main {
  margin-top: 1rem;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,auto);
  grid-gap: 8px;
}
.banner {
  position: absolute;
  display: flex;
  left: 40px;
  height: 245px;
  width: 734px;
  background: linear-gradient(89deg, rgba(255,224,135,0)-28.52%,#ffe087 108.73%);
  border-radius: 50px;
  margin-top: 1rem;
}
.log{
  position: absolute;
  margin-top: 30px;
  display: flex;
  text-align: left;
  color:#B92B5E;
  font-family: 'M PLUS 1 code';
}
.log img{
  display:flex;
  width: 50px;
  height: 50px;
  left: 30px;
  right: 0px;
}
.info h2{
  display: flex;
  margin-top: 5rem;
  font-size: 30px;
  margin-left: 40px;
}
.info p{
  margin-left: 40px;
  font-size: 20px;
  font-weight:500;
}
.info button a{
  background-color:#FA4848;
  width: 120px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  margin-left: 60px;
}
.det{
  position: absolute;
  display: flex;
  left: 800px;
  height: 245px;
  width: 467px;
  background: linear-gradient(89deg, rgba(255,224,135,0)-28.52%,#ffe087 108.73%);
  border-radius: 50px;
  margin-top: 1rem;
}
.saldo h3{
  display: flex;
  margin-top: 15px;
  font-size: 20px;
  margin-left: 40px;
}
.line{
  position: absolute;
  width: 120px;
  height: 0px;
  left: 40px;
  top: 40px;

  border: 1px solid rgb(250,72,72);
}
.fond{
  position: absolute;
  width:380px;
  height:174px;
  left: 40px;
  border-radius: 24px;
  background: linear-gradient(90deg, rgba(239, 169, 43, 0.22) 106.99%, rgba(203, 203, 203, 0)133.29%);
}
.trans{
  position: absolute;
  margin-top: 19rem;
  margin-left: 60px;
}
.transacciones h2{
  font-size: 20px;
  font-family: 'M PLUS 1 code';
}
.linne{
  position: absolute;
  width: 150px;
  height: 0px;
  left: 5px;
  top: 35px;

  border: 1px solid rgb(250,72,72);
}
.transacciones table{
  width: 100%;
  padding: 1.8rem;
  text-align: center;
}
@media screen and (max-width:768px){

    .header .button{
      display: block;
      cursor: pointer;
    }
    .header .nav{
      background-color: #dce2ee;
      width:100%;
      /* display: none; */
      height:0;
      pointer-events: none;
      overflow: hidden;
      transition: all .5s ease;
  
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
    .header .nav.activo{
      /* display: block; */
      height:50vh;
      pointer-events: auto;
    }
    .header .ul{
      flex-direction: column;
    }
    .header .li{
      margin: 1rem 0;
    }
}