@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;700&display=swap');
/* 
  Reset CSS 
*/
body {
    background-color: #2F2F2F;
  }
:root {
  --negro: #393939;
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}
input[type="search" i] {
  display: none;
}
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}
span {
  font-size: 15px;  
  color: #868AF1;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form, input, textarea, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  display: block;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}


body {
  /* min-height: 100vh;
  font-size: 100%; */
  font-family: var(--tipo-principal);
  /* font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
.logo{
  height: 50px;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2f2f2f;
  padding: 5px;
  z-index: 1;
}
nav:after{
  content: '';
  width: 90%;
  height: 2px;
  background:rgba(138, 138, 138, 0.35);
  display:block;
  margin: auto;
}
nav .a{
    font-style: bold;
    font-weight: 400;
    line-height: 23px;
    color:#9A9A9A;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
nav .a:hover{
    color:#ececec;
}
.nav__menu a{
  list-style-type: none;
}
.nav__menu .a::after{
  content: '';
  width: 0%;
  height: 2px;
  background:#FA4848;
  display:block;
  margin: auto;
  transition: 0.5s;
}
.nav__menu a:hover::after{
  width: 100%;
}
.nav__menu ul li:hover ul {
  display: block;
  position: absolute;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
.ul{
  display: flex;
  margin: 0;
  padding: 0;
}
.ul li {
  float: left;
  list-style: none;
  position: relative;
  z-index: 0;
}
ul li a {
  color:#4D4B4B;
  line-height: 2rem;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-align: left; 
  text-transform: capitalize;
}
ul li a:hover {
  color:#4D4B4B;
}

ul li ul {
  display: none;
}

ul li:hover ul {
  display: inline-block;
  position: absolute;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0;
  margin: auto;
}
ul li ul li a {
  padding: 10px 20px;
  line-height: unset;
  margin-left: .5rem;
  white-space: nowrap;
  width: 100%;
}
ul li ul li i {
  margin-right: .5rem;
}

.profilePhoto {
  width: 30px;
  border-radius: 100%;
}
.linea {
  position: fixed;
  width: 85%;
  height: 2px;
  top: 80px;
  margin: auto;
  margin-bottom: 5px;
  background-color: rgba(138, 138, 138, 0.35);
}
.nav__container {
  display: flex;
  height: 100%;
  width: 80%;
  margin: auto;
  padding: 10px;
  justify-content: space-between;
  align-items: center;

}
.nav__menu {
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
  justify-content: center;
  align-items: center;
}
.logout {
  background-color: rgb(63, 63, 63);
  color: #9A9A9A;
  padding: 5px;
  border-radius: 10px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  transition: all .5s;
}
.logout:hover {
  background-color: #d93444;
  color: #fff;
}
.inputSelect {
  width: 50%;
  margin: auto;
  border-radius: 10px;
  padding: 7px 10px; 
  border: 3px solid #B1AFAF;
  background-color: #464646;
  cursor: pointer;
  font-family: 'Roboto';
  color: #fff;
  text-align: center;
}


/* DAR DE ALTA PAGINA */
main{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    margin: 90px auto 0px;
    padding: 1%;
    background-color: #212121;
    border-radius: 26px;
    text-align: center;
}
main h1 {
    font-family: 'Roboto', sans-serif;
    color: #ffff;
    font-weight: 900;
    font-size: 25px;
}
main .lineaR {
    border: 1px solid #FC003C;
    width: 5%;
    margin: auto;
}
.loadphoto {
    width: 200px;
    height: auto;
    margin:auto;
    padding: 15px;
}
.loadphoto img {
    width: 70%;
    height: 70%;
}
.contenedor-btn-file input[type="file"] {
    appearance: none;
    display: none;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}
.contenedor-btn-file input[type="submit"] {
    appearance: none;
    display: none;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}
.contenedor-btn-file {
    display: inline-block;
    position: relative;
    background: linear-gradient(90deg, rgba(32,35,109,1) 0%, rgba(252,0,60,1) 100%);
    color: #fff;
    border: 0;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 0 12px rgba(0, 0, 0, .15);
    overflow: hidden;
    transition: ease-out 120ms background-color;
    margin-top: 20px;
    cursor: pointer;
}
.contenedor-btn-file label {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    cursor: pointer;
}
.contenedor-formulario {
    width: 95%;
    height: auto;
    margin: auto;
    margin-top: 20px;
}
.contenedor-formulario form{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
}
.labels {
    font-size: 20px;
    color: #ffff;
    font-family: 'Roboto';
    font-weight: 900;
    margin-bottom: 10px;
}
.inputs {
    background-color: #464646;
    width: 100%;
    padding: 7px 10px;  
    border-color: #5e3a3a;
    outline: 0 none;
    border-radius: 10px;
    border: 3px solid #B1AFAF;
    color: #fff;
    font-family: 'Roboto';
}
.center {
    text-align: center;
}
.di {
    grid-row: 3/4;
    grid-column: 2/4;
}
.bloque {
    line-height: 10px;
}
.lineaF {
    border: 1px solid #FC003C;
    width: 15%;
    margin: auto;
    margin-bottom: 15px;
}
/* FIN DAR DE ALTA */

  /*MENSAJES DE ERROR O SUCCESS*/
  #InfoBanner{
    max-width:100%;
    height: 40%;
    display: grid;
    padding: 0 .2rem;
    padding-bottom:  0.8em;
    text-align: center;
  }
  
  .error {
    outline: 0 none;
    text-align: center;
    color: #fff;
    font-size: 15px;
    background-color:#ef5350;
    border-radius: 55px;
  }
  .success {
    outline: 0 none;
    text-align: center;
    color: #fff;
    font-size: 15px;
    background-color:#50ef70;
    border-radius: 55px;
  }

.main {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 70px;
  align-items: center;
  justify-content: center;
}
.contenedor__lista {
  width: 100%;
  height: 50vh;
  background-color: #5e3a3a;
  padding: 1rem;
  overflow-y: scroll;
}

.colum2 {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
}
.title {
  text-align: left;
  margin-left: 4rem;
}
.infocliente {
  text-align: left;
  margin-left: 4rem;
  color: rgba(255, 255, 255, 0.726);
  font-family: 'Rajdhani';
  font-weight: bold;
}
.buscar {
  position: absolute;
  padding: 7px;
}
.buscar input {
  width: 0;
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  color: #000;
  border: solid 2px #6d204e;
  border-radius: 10px;
  background-color: #2f2f2f;
  color: #B1AFAF;
  outline: none;
  transition: all .6s ease;
}
.btn1 {
  position: absolute;
  top: 0;
  right: 0;
  width:  55px;
  height: 55px;
  line-height: 55px;
  background-color: #6d204e;
  text-align: center;
  color: white;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.buscar:hover input{
  width: 300px;
}

.buscar input:focus {
  width: 300px;
}

.title {
  font-family: 'Rajdhani';
  font-weight: 900;
}

.container__table-clients {
  width: 100%;
  margin-top: 10px;
  background-color: #2F2F2F;
}

.clients__table {
  width: 100%;
}

.encabezado_clientes {
  font-family: 'Rajdhani';
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  background-color: #687b83;
  width: 100%;
}

.encabezado_clientes td {
  padding: 5px 0px 5px 0px;
}

.lista_clientes {
  color: #868AF1;
  padding:8px 0px 8px 0px;
}
.rfc {
  text-transform: uppercase;
}
.buttons_clientes {
  display: flex;
  font-size: 16px;
  justify-content: space-evenly;
  margin: 0 10px 0 10px;
  gap: 5px;
}

.editar {
  border: solid 2px #ffd969;
  padding: 5px;
  border-radius: 5px;
  color: #ffd969;
  transition: all .5s;
}
.editar:hover {
  background-color: #ffd969;
  color: #fff;
}
.reactivar {
  border: solid 2px #27a644;
  padding: 5px;
  border-radius: 5px;
  color: #27a644;
  transition: all .5s;
}
.reactivar:hover {
  background-color: #27a644;
  color: #fff;
}

.eliminar {
  border: solid 2px #d8514b;
  padding: 5px;
  border-radius: 5px;
  color: #d8514b;
  transition: all .5s;
}
.eliminar:hover {
  background-color: #d8514b;
  color: #fff;
}
.info {
  border: solid 2px #adabab;
  padding: 5px 15px;
  border-radius: 5px;
  color: #adabab;
  transition: all .5s;
}
.info:hover {
  background-color: #adabab;
  color: #fff;
}

.formulario-modal {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
  padding: 20px;
}
.verde {
  color: #27a644;
}
.rojo {
  color: #aa0a00;
}
/* Más acciones */

.bloque_másInfo {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
  padding: 20px;
}
.info_modal {
  background-color: #27a644;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
}
.L {
  grid-column: 1/3;
}
.L2 {
  grid-column: 1/3;
  grid-row: 2/3;
}
.pdf {
  background-color: #aa0a00;
  color: #fff;
  padding: 10px 25px;
  border-radius: 5px;
  transition: all .5s;
  cursor: pointer;
}
.pagado {
  background-color: #09aa00;
  color: #fff;
  padding: 10px 25px;
  border-radius: 5px;
  transition: all .5s;
  cursor: pointer;
}
.aprobado {
  border: solid 2px #27a644;
  padding: 5px;
  border-radius: 5px;
  color: #27a644;
}

/* DEPOSITOS Y RETIROS */
.movimientos {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 50px;
  width: 90%;
  margin: 20px auto ;
  height: auto;
}
.depositos {
  background-color: #98b275;
  width: 100%;
  height: auto;
  border-radius:30px;
  padding: 10px;
}
.retiros {
  background-color: #f15759;
  width: 100%;
  height: auto;
  border-radius: 30px;
  padding: 10px;
}
.movimientos {
  line-height: 30px;
}
.titulo {
  font-family: Rajdhani;
  font-size: 30px;
}
.movimientos input {
  width: 80%;
  height: 40px;
  border-radius: 30px;
  background-color: #ECF0F1;
  margin: auto;
  text-align: center;
  font-family: 'Rajdhani', 'Roboto';
  font-size: 20px;
  font-weight: bold;
  color: #2d2d2d;
}
.movimientos label {
  font-family: 'Rajdhani';
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
.movimientos h3{
  font-family: 'Rajdhani';
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
.movimientos p {
  color: #2d2d2d;
  font-family: 'Rajdhani';
  font-weight: bold;
  font-size: 20px;
}
#depositar {
  background-color: #27a644;
  padding: 15px;
  margin: 10px auto;
  color: #fff;
  border-radius: 10px;
  font-family: 'Rajdhani';
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
#retirar {
  background-color: #e63821;
  padding: 15px;
  margin: 10px auto;
  color: #fff;
  border-radius: 10px;
  font-family: 'Rajdhani';
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

/* LOADER*/
.contenedor-loader.visible{
  display: block;
}

.contenedor-loader{
  display:none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 120px;
}
.ids-roller{
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ids-roller div{
  animation: ids-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.ids-roller div:after{
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: -4px 0 0 -4px;
}
.ids-roller div:nth-child(1){
  animation-delay: -0.036s;
}
.ids-roller div:nth-child(1):after{
  top: 63px;
  left: 63px;
}
.ids-roller div:nth-child(2){
  animation-delay: -0.072s;
}
.ids-roller div:nth-child(2):after{
  top: 68px;
  left: 56px;
}
.ids-roller div:nth-child(3){
  animation-delay: -0.108s;
}
.ids-roller div:nth-child(3):after{
  top: 71px;
  left: 48px;
}
.ids-roller div:nth-child(4){
  animation-delay: -0.144s;
}
.ids-roller div:nth-child(4):after{
  top: 72px;
  left: 40px;
}
.ids-roller div:nth-child(5){
  animation-delay: -0.18s;
}
.ids-roller div:nth-child(5):after{
  top: 71px;
  left: 32px;
}
.ids-roller div:nth-child(6){
  animation-delay: -0.216s;
}
.ids-roller div:nth-child(6):after{
  top: 68px;
  left: 24px;
}
.ids-roller div:nth-child(7){
  animation-delay: -0.252s;
}
.ids-roller div:nth-child(7):after{
  top: 63px;
  left: 17px;
}
.ids-roller div:nth-child(8){
  animation-delay: -0.288s;
}
.ids-roller div:nth-child(8):after{
  top: 56px;
  left: 12px;
}
@keyframes ids-roller {
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
  
}