*{
    margin: 0%;
    padding: 0%;
}
body{
	font-family: arial, helvetica;
    background-color: rgba(86, 57, 166, 0.95)
}

.menu{
	list-style: none;
	padding: 0;
	background: transparent;
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color:  rgba(177, 175, 175, 1);
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}
.menu li a:hover{
	background: #000000;
}